@if (activeMobileView) {
  <div class="mobileMenuArea" (click)="changeView()">
    <i class="mf-icon-logoMila menuLogo"></i>
    <ul class="mobileMenuList">
      @for (link of listPath; track link.name) {
        @if (link.active) {
          <a class="mobileMenuElement" href="#{{ link.urlAdres }}">
            <li>{{ link.name }}</li>
          </a>
        }
      }
    </ul>
  </div>
}

<header class="wrapper" style="background-image: url({{ imagePath }})">
  <div class="blurWrapper">
    <menu>
      <button class="menuButton mobileView" (click)="changeView()">
        <span></span>
      </button>
      <ul class="desktopView">
        @for (link of listPath; track link.name) {
          @if (link.active) {
            <a href="#{{ link.urlAdres }}">
              <li>{{ link.name }}</li>
            </a>
          }
        }
      </ul>
      <a href="/" class="logo-mila-desctop">
        <i class="mf-icon-logoMila "></i>
      </a>
    </menu>
    <section>
      <p>{{ tekstHeader[numberRandom] }}</p>
      <app-mainbutton [nameButton]="'sprawdź'" />
    </section>
  </div>
</header>
