<div>
  @for(category of categoryElement; track category.category){
    <div class="catalogWrapper" id="{{category.category}}">
      <app-name-section nameSection="{{category.category}}" />
      <div class="catalogSection">
      @for(item of data; track item.Code){
        @if(category.codeCategory === item.Category ){
        <div class="catalogElement">
          <img src="/katalog/allImage/{{item.Code}}.webp" alt="">
          <div class="informationSection">
            <p class="categoryCode">{{item.Code}}</p>
            <i (click)="handleClick(item.Code)"
               class="  {{likeItems.includes(item.Code) ? 'activeHeart'
                : ''}} fa-solid fa-heart"
               ></i>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>

        </div>
        }
      }
      </div>
    </div>
}
</div>
