@import "../../../styles/variables"

.catalogSection
  display: grid
  grid-template-columns: repeat(3, 300px)
  gap: 3rem 1rem
  width: 90%
  justify-content: center
  margin: 3rem auto
  @media(max-width: $brakePoints-lg)
    grid-template-columns: repeat(2, 300px)
  @media(max-width: $brakePoints-md)
      grid-template-columns: repeat(2, 250px)
  @media(max-width: $brakePoints-sm)
    grid-template-columns: repeat(1, 300px)



.catalogElement
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $seconddColor-light
  border-radius: 1rem
  overflow: hidden
  cursor: pointer


  & > img

    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

  & > .categoryCode
    font-size: 1.4rem
    font-family: $mainFont
    padding: 1rem 0


.categoryMenu
  display: flex
  justify-content: center

  & > li


    & > a
      text-decoration: none
      color: $mainColor-veryDark
      font-family: $menuFont
      font-size: 2rem
      margin: 0 2rem

      &:hover
        color: $seconddColor-dark

